.list-group-item:hover {
  border-left: 2px solid #ffd333;
}

p {
  margin-bottom: 0;
}
ul {
  padding-left: 0;
}
.product-name:hover {
  text-decoration: underline;
}
.filter-btn:hover {
  background-color: #e9ecef;
}
.title-name {
  font-size: var(--big-fs);
  font-weight: 600;
  letter-spacing: 0.75px;
}
.custom-class.rate i {
  color: yellow;
}
/* $offcanvas-horizontal-width:300px; */
.form-block {
  background-color: white;
  border-radius: 3px;
  padding: 1.5rem;
  box-shadow: 0.5px 0.5px 12px rgba(0, 0, 0, 0.35);
}
.form-block .title-block {
  font-weight: 600;
  font-size: var(--normal-fs);
  letter-spacing: 0.5px;
}
.form-block hr {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.form-block .input-field {
  flex-direction: column;
}
.form-block .input-field label {
  font-weight: 500;
  display: block;
  font-size: 17px;
}
.form-block .input-field .form-control {
  width: 100%;
}
ul {
  list-style-type: none;
}
 .infor .icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-main-color);
  color: var(--yellow-main-color);
  font-size: 24px;
  margin-right: 1rem;
}
 .infor li {
  margin-bottom: 0.5rem;
}
 .infor ul li:first-child {
  font-size: var(--normal-fs);
  font-weight: 600;
}
