<!-- Login Modal -->
<div
  class="modal login-modal fade"
  id="forgotPasswordModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-lg">
    <div class="modal-content container">
      <div class="row">
        <div class="col-md-6 col-xs-12 px-4 py-5">
          <form class="example-form">
            <p class="title">Forgot Password ?</p>
            <p>Please enter your email to recover your password</p>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Ex. test@example.com"
                name="email"
                [(ngModel)]="email"
                required
                email
                #emailInput="ngModel"
              />
              <!-- <span matSuffix class="cursor-pointer" style="font-weight: 500"
                >Send code</span
              > -->
            </mat-form-field>
            <!-- <mat-form-field class="example-full-width">
              <mat-label>Code</mat-label>
              <input type="text" matInput />
            </mat-form-field> -->
            <button
              mat-raised-button
              class="main-btn full-w-btn fw-bold"
              (click)="sendNewPass()"
              [disabled]="emailInput.invalid"
            >
              Send code
            </button>
            <p
              class="text-center mt-3 cursor-pointer"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
              #loginBtn
            >
              Login
            </p>
          </form>
        </div>
        <div
          class="col-md-6 col-xs-12 rounded d-flex justify-content-center flex-column align-items-center"
          style="background-color: #faf096; min-height: 300px"
        >
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
          <p class="name-logo">Shop App</p>
          <i class="fab fa-shopify mt-4" style="font-size: 6.5rem"></i>
        </div>
      </div>
    </div>
  </div>
</div>
